/*Stylefile with functional styles for the specific tasks*/
/*NOTE: May eventually need to be split again*/

.in-text-icon {
    font-size: 1.5em;
}

.in-text-icon.warning {
    color: #8CA000;
    rotate: -90deg;
}

.in-text-icon.error {
    color: #B85042;
}

.in-text-icon.good {
    color: #1abc9c;
}

.annote-text-icon {
    font-size: 0.2em;
}


.highlight-num {
    opacity: 60%;
    border-radius: 2px;
}

.highlight-base {
    background-color: lightsteelblue;
}

.highlight-warning {
    background-color: palegoldenrod;
}

/* Tooltip container */
.tooltip {
    position: relative;
    overflow: visible;
    opacity: 0.9;
    display: inline;
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext.tooltip-checklist {
    width: 15em;
    text-align: left;
    padding: 0.5em;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 10em;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 9999;
    bottom: 125%;
    left: 50%;
    margin-left: -70px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    overflow: visible;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

.tooltip-popup > ul {
    padding-left: 1.8rem;
}

#btn-print {
    display: none;
}


/*.has-tooltip {*/
/*  !*position: relative;*!*/
/*  display: inline-block;*/
/*    opacity: 1;*/
/*}*/
/*.tooltip-wrapper {*/
/*  position: absolute;*/
/*  visibility: hidden;*/
/*    opacity: 1;*/
/*      transition: opacity 0.3s;*/
/*}*/
/*.has-tooltip:hover .tooltip-wrapper {*/
/*  visibility: visible;*/
/*  opacity: 1;*/
/*  !*top: 30px;*!*/
/*  !*left: 50%;*!*/
/*  !*margin-left: -76px;*!*/
/*  !* z-index: 999; defined above with value of 5 *!*/
/*}*/

/*.tooltiptext {*/
/*  display: block;*/
/*  position: relative;*/
/*    top: 2em;*/
/*    right: 100%;*/
/*  width: 140px;*/
/*  height: 96px;*/
/*  !*margin-left: -76px;*!*/
/*  color: #FFFFFF;*/
/*  background: #000000;*/
/*  !*line-height: 40px;*!*/
/*  text-align: center;*/
/*  border-radius: 8px;*/
/*  !*box-shadow: 4px 3px 10px #800000;*!*/
/*  padding: 5px 0;*/
/*    opacity: 1;*/
/*}*/

/*.tooltiptext:after {*/
/*  content: "";*/
/*  position: absolute;*/
/*  top: 100%;*/
/*  left: 50%;*/
/*  margin-left: -5px;*/
/*  border-width: 5px;*/
/*  border-style: solid;*/
/*    overflow: visible;*/
/*    opacity: 1;*/
/*  !*border-color: #555 transparent transparent transparent;*!*/
/*}*/


/*~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~ Styles for risk calculator ~~~~~~~~~~~~~~~~~~~~~~~~~~~~*/

.checklist-qtext {
    color: #666;
    font-weight: bold;
    font-size: 1.1em;
}

#dotdisplay-zoom {
    margin: auto;
    height: 90%;
    width: 90%;
}

.canvas-zoom {
    position: absolute;
    justify-content: center;
    top: 2.5%;
    left: 15%;
    height: 90%;
    width: 90%;
    display: none;
    background-color: whitesmoke;
    border: 1px darkgrey solid;
}

/*#quit-zoom{*/
/*    cursor: pointer;*/
/*    text-align: right;*/
/*    width: 100%;*/

/*}*/

.canvas-container {
    cursor: pointer;
}

.canvas-container {
    /*width: 300px;*/
    /*height: 300px;*/
    margin: 0 auto;
}

canvas {
    /*display: none;*/
    background: white;
    /*width: 250px;*/
    /*height: 250px;*/
    /*border-radius: 50%;*/
    margin: 0 auto;
    /*border: 1px solid black;*/
}

.canvas-base {
    width: 250px;
    height: 125px;
    /*display: none;*/
}

.zoomed-canvas {
    width: 95%;
    height: 95%;
}

.split-content {
    display: flex;
    flex-direction: row;
    /*width: clamp(100%, 800px, 100%);*/
    /*320px (can be 0 to X ) is the min-width you agree width, 600px the max-width you allow and 100% the limit not to pass.*/
}

.checklist-nav {
    font-size: 1.5em;
    color: darkgrey;
    text-align: center;
    height: 100%;
    /*display: flex;*/
    align-content: center;
}


.checklist-nav:hover {
    font-weight: bold;
    cursor: pointer;
    text-shadow: 2px 2px 5px var(---checklist-shadow);
    /*background-color: #444444;*/
}

.checklist-question {
    margin: 0 auto;
    /*flex: 100%;*/
    /*background-color: var(---checklist-question-bg);*/
    color: 2px var(---checklist-question-bg) solid;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 2px 2px 5px var(---checklist-shadow);
    flex-direction: column;
    width: 800px;
    display: none;
    height: 400px;
    justify-content: center;
    /*align-items: center;*/
}

.checklist-input {
    border-radius: 5px;
    line-height: 1.2em;
    font-size: 1.2em;
    padding: 5px;
    max-width: 6em;
}

.checklist-button {
    margin: 0.2em;
    padding: 0.3em;
    font-size: 1em;
    text-align: center;
    min-width: 5em;
    flex: 20%;
    background-color: var(---button-primary);
    border-radius: 5px;
}

.checklist-content {
    margin: 1em auto;
    width: 800px;
}

@media screen and (max-width: 700px) {
    .checklist-content {
        width: 80%;
        margin: 1em auto;
    }

    .checklist-question {
        width: 80%;
    }
}

.question-content {
}


.nav-cell {
    width: 10%;
}

.content-cell {
    width: 80%;
    position: relative;
}

.risk-info {
    font-weight: bold;
    color: #666;
    display: block;
}

.fa.back-btn {
    display: none;
}

#noentry-popup {

}

#incompatible-popup {

}

.error-prompt {
    position: absolute;
    border: 1px solid darkred;
    background-color: #f1f1f1;
    padding: 1em;
    margin: 1em;
}

.missing-input {
    border: 2px solid darkred;
}