/* Definition of different themes */

.current-theme {
    /*---body-background: #f1f1f1;*/
    /*---header-background: #f1f1f1;*/
    /*---header-line: #0077be;*/
    /*---textcol-header: white;*/
    /*---navbar-bg: #f1f1f1f;*/
    /*---navbar-text: #444;*/
    /*---navbar-hover-bg: #ddd;*/
    /*---navbar-hover-text: #f1f1f1f;*/
    /*---dropdown-content-bg: #f1f1f1;*/
    /*---dropdown-content-text: black;*/
    /*---dropdown-content-hover-text: #ddd;*/
    /*---column-bg-primary: #f1f1f1f;*/
    /*---column-bg-secondary: #f1f1f1f;*/
    /*---colum-bg-tertiary: #f1f1f1f;*/
    /*---checklist-question-bg: #f1f1f1;*/
    /*---checklist-shadow: #5e676c;*/
    /*---wiki-bg: #f1f1f1f;*/
    /*---wiki-example-bg: lightgrey;*/
    /*---wiki-overview-bg: #90AFC5;*/
    /*---wiki-border: #444;*/
    /*---card-hover-bg: #e5e7e9;*/
    /*~~~~~~~~~~~~~~~~~ New theme* ~~~~~~~~~~~~~~~~~~~~~~~~~*/
    /*Backgrounds*/
    ---bg-general: #f1f1f1;
    ---button-primary: #90AFC5;
    ---button-secondary: lightgrey;
    ---card-bg: #cbcfd2;
    ---bg-highlight-primary: #90AFC5;
    ---bg-highlight-secondary: #ddd;
    ---footer-hover-bg: #5e676c;
    /*---column-bg-primary: #f1f1f1;*/
    /*---column-bg-secondary: #f1f1f1;*/
    ---card-hover-bg: #e5e7e9;
    ---checklist-question-bg: #f7f7f7;
    ---checklist-shadow: #5e676c;
    /*Text colors*/
    ---text-light: #f1f1f1;
    ---text-color-primary: #17171F;
    ---text-color-secondary: #666; /* was: #333*/
    /*Other colors*/
    ---col-sepline: #0077be;
    ---error-col: darkred;
    ---col-border: #333; /*#444;*/
    ---footer-bg: #ddd;
    ---footer-text: #f1f1f1f;
    ---footer-hover-text: lightgrey;
}


/*Source for buttons:*/
/*https://copy-paste-css.com/*/

/*Previous:*/
/*.current-theme {*/
/*    ---body-background: #f5f5fA;*/
/*    ---header-background: #c97469;*/
/*    ---textcol-header: white;*/
/*    ---navbar-bg: #E7E8D1;*/
/*    ---navbar-text: #444;*/
/*    ---navbar-hover-bg: #ddd;*/
/*    ---navbar-hover-text: black;*/
/*    ---footer-bg: #ddd;*/
/*    ---footer-text: black;*/
/*    ---footer-hover-bg: slategray;*/
/*    ---footer-hover-text: lightgrey;*/
/*    ---dropdown-content-bg: #f1f1f1;*/
/*    ---dropdown-content-text: black;*/
/*    ---dropdown-content-hover-text: #ddd;*/
/*    ---column-bg-primary: white;*/
/*    ---column-bg-secondary: #f1f1f1;*/
/*    ---colum-bg-tertiary: white;*/
/*    ---checklist-question-bg: #EEE;*/
/*    ---checklist-shadow: slategray;*/
/*    ---button-primary: #E7E8D1;*/
/*    ---button-secondary: lightgrey;*/
/*    ---wiki-bg: #E7E8D1;*/
/*    ---wiki-example-bg: lightgrey;*/
/*    ---wiki-overview-bg: #A7BEAE;*/
/*    ---wiki-border: #444;*/
/*    ---card-bg: silver;*/
/*    ---card-hover-bg: #ddd;*/
/*    ---text-color-primary: black;*/
/*    ---text-color-secondary: #333;*/
/*}*/

/*.theme-1 {*/
/*    .current-theme {*/
/*        ---body-background: #f0f0f0;*/
/*        ---header-background: #1abc9c;*/
/*        ---textcol-header: white;*/
/*        ---navbar-bg: slategrey;*/
/*        ---navbar-text: white;*/
/*        ---navbar-hover-bg: #ddd;*/
/*        ---navbar-hover-text: black;*/
/*        ---footer-bg: #ddd;*/
/*        ---footer-text: black;*/
/*        ---footer-hover-bg: slategray;*/
/*        ---footer-hover-text: lightgrey;*/
/*        ---dropdown-content-bg: #f1f1f1;*/
/*        ---dropdown-content-text: black;*/
/*        ---dropdown-content-hover-text: #ddd;*/
/*        ---column-bg-primary: #f1f1f1;*/
/*        ---column-bg-secondary: #f1f1f1;*/
/*        ---colum-bg-tertiary: white;*/
/*        ---checklist-question-bg: silver;*/
/*        ---button-primary: #1abc9c;*/
/*        ---button-secondary: silver;*/
/*        ---wiki-bg: lightblue;*/
/*        ---wiki-border: cornflowerblue;*/
/*        ---card-bg: silver;*/
/*        ---card-hover-bg: #ddd;*/
/*        ---text-color-primary: black;*/
/*        ---text-color-secondary: #333;*/
/*    }*/
/*}*/

/* CSS for body */
html {
    background-color: #f1f1f1;
}

body {
    /*font-family: Arial, sans-serif;*/
    /*font-family: Roboto, sans-serif;*/
    /*font-family: Helvetica, sans-serif;*/
    /*font-family: "Roboto Light", sans-serif;*/
    font-family: "Open Sans", sans-serif;
    margin: 0 20px;
    padding: 0;
    background-color: var(---bg-general);
}

.footer {
    width: 100%;
}

* {
    box-sizing: border-box;
}

/* ~~~~~~~~~~ Input field styling ~~~~~~~~~~~~~~~~~~~~~~*/
/*.checklist-input {*/
/*    border-radius: 5px;*/
/*    line-height: 1.2em;*/
/*    font-size: 1.2em;*/
/*    padding: 5px;*/
/*    margin-bottom: 0.3em;*/
/*    max-width: 6em;*/
/*    position: relative;*/
/*}*/


/*https://freebiesupply.com/blog/css-inputs/*/
/* form starting stylings ------------------------------- */
.input-group {
    margin-top: 1.5em;
}
.float-label-field {
    border: none;
    outline: none;
    position: relative;
    margin: 1em 5px 10px 0;
    padding: 0.4em;
    box-sizing: border-box;
    cursor: text;
}

.float-label-field input {
    border: none;
    outline: none;
    padding: 5px 5px 12px 5px;
    margin-bottom: 5px;
    /*width: 100%;*/
    max-width: 90%;
    font-size: 1em;
    border-bottom: solid 2px var(---col-sepline);
}

.float-label-field label {
    opacity: 0.5;
    position: absolute;
    top: 15px;
    left: 10px;
    transition: all 0.2s ease;
    font-size: 1em;
    cursor: text;
}

.float-label-field.focus label {
    color: orange;
}

.float-label-field.focus input {
    border-bottom: solid 2px orange;
}

.float-label-field.float label {
    opacity: 1;
    top: -6px;
    font-size: 60%;
    transition: all 0.2s ease;
    font-weight: bold;
}


/*Handling invalid inputs*/
input:invalid {
    /*border: var(---error-col) solid 3px;*/
    border-bottom: var(---error-col) solid 3px;
}

.float-label-field.focus input:invalid {
    border-bottom: var(---error-col) solid 3px;
}

input:focus:invalid {
    box-shadow: none;
}

.alert-invalid {
    visibility: hidden;
    color: var(---error-col);
}

input:invalid ~ .alert-invalid {
    visibility: visible;
}


/*Blockquotes*/
blockquote {
    font-size: 0.9em;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}


/*HEADER*/
.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    border-bottom: 2px solid var(---col-sepline);
}

/* Header/logo Title */
.header {
    padding: 10px;
    text-align: left;
    flex-grow: 2;
    display: flex;
    align-items: center;
    background: var(---bg-general);
    color: var(---text-color-primary);

}

.header h2 {
    display: inline-block;
    text-decoration: none;
}

.subhead {
    /*background-image: url("../images/221215_Charite_Bildmarke_CMYK.jpg");*/
    /*background-repeat: no-repeat;*/
    /* background-position: center; !* Center the image *!*/
    /*background-size: 30%; !* Resize the background image to cover the entire container *!*/
}

.subhead > h3 {
    display: inline-block;
    padding-left: 2em;
}


/*------------------NAVIGATION------------------------*/

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: var(---bg-general);
    justify-content: space-around;
    align-items: center;
    flex-grow: 3;
    font-size: 1em;
    /*height: 100%;*/
}

/* Style the navigation bar links */
.navbar .nav-container {
    padding: 14px 20px;
    text-align: center;
    margin: 0;
    /*min-height: 2.5em;*/
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.nav-container > a {
    color: var(---text-color-primary);
    text-decoration: none;
    width: 100%;
    /*display: flex;*/
    text-align: center;
    padding: 0.7em 0.7em 0.6em;
}

/* Change color on hover */
.navbar .nav-container:hover {
    background-color: var(---bg-highlight-secondary);
    color: var(---bg-highlight-secondary);
}

/* Footer */
.navbar-foot {
    display: flex;
    text-align: center;
    background: var(---footer-bg);
}

/* Style the navigation bar links */
.navbar-foot a {
    color: var(---text-color-primary);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar-foot a:hover {
    background-color: var(---footer-hover-bg);
    color: var(---footer-hover-text);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(---bg-general);
    min-width: 160px;
    left: 30%;
    top: 80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-content a {
    color: var(---text-color-primary);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(---bg-highlight-secondary);
}

.dropdown:hover .dropdown-content {
    display: block;
}


/*------------------CONTAINERS------------------------*/

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

.full-column {
    flex: 100%;
    background-color: var(---bg-general);
    padding: 20px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.input-col {
    background-color: var(---bg-general);
    padding: 5px 20px;
}

.output-col {
    /*background-color: var(---colum-bg-tertiary) te;*/
    /*padding: 5px 20px;*/
    /*margin: 1em;*/
    height: 100%;
    /*overflow: visible;*/
    /*border: 1px solid var(---col-border);*/
    /*border-radius: 3px;*/
    background-color: var(---bg-general);
    padding: 0.4em 0.7em;
    margin: 0 0.4em 0.5em 0.4em;
}

.number-input {
    flex: 30%;
}


/* Main column */
.number-output {
    flex: 60%;
}

.figure-output {
    flex: 40%;
}

.wiki-overview {
    flex: 35%;
    background-color: var(---bg-highlight-primary);
    border: 0.1em solid var(---col-border);
    border-radius: 5px;
}

.wiki-text {
    flex: 65%;
}

.wiki-entry {
    /*margin: 1em auto;*/ /* centering.*/
    margin: 1em 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(---col-border);
    background-color: var(---bg-general);
}

.wiki-intro {
    width: 80%;
}

.wiki-examples {
    /*border: 1px solid var(---col-border);*/
    margin: 1em 0;
    padding: 1em;
    background-color: var(---bg-highlight-secondary);
}


/*Styling input elements */
.btn {
    padding: 7px;
    margin: 5px 0;
    text-align: center;
    border: none;
    border-radius: 2px;
    cursor: pointer;
    /*float: right;*/
}

.btn-large {
    font-weight: 500;
    font-size: 14px;
}


/*display: inline-block;*/
/*outline: none;*/
/*cursor: pointer;*/
/*font-weight: 500;*/
/*border: 1px solid transparent;*/
/*border-radius: 2px;*/
/*height: 36px;*/
/*line-height: 34px;*/
/*font-size: 14px;*/
/*color: #ffffff;*/
/*background-color: #007c89;*/
/*transition: background-color 0.2s ease-in-out 0s, opacity 0.2s ease-in-out 0s;*/
/*padding: 0 18px;*/
/*:hover {*/
/*    color: #ffffff;*/
/*    background-color: #006570;*/
/*}*/

select {

  /* styling */
  background-color: white;
  border: thin solid var(---col-sepline);
  border-radius: 4px;
  display: inline-block;
  font: inherit;
  line-height: 1.2em;
  padding: 0.5em 1.5em 0.5em 1em;
  /* reset */
  margin: 0 0.5em;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-appearance: none;
  -moz-appearance: none;
    width: 300px;
/*Minimal style*/
  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 20px) calc(1em + 2px),
    calc(100% - 15px) calc(1em + 2px),
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
}

select:focus {
  background-image:
    linear-gradient(45deg, green 50%, transparent 50%),
    linear-gradient(135deg, transparent 50%, green 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 1em,
    calc(100% - 20px) 1em,
    calc(100% - 2.5em) 0.5em;
  background-size:
    5px 5px,
    5px 5px,
    1px 1.5em;
  background-repeat: no-repeat;
  border-color: green;
  outline: 0;
}

.btn-small {
    font-weight: 500;
    font-size: 0.9em;
}


.button-primary {
    background-color: var(---button-primary);
    color: var(---text-color-primary);
}

.button-secondary {
    background-color: var(---button-secondary);
    color: var(---text-color-secondary);
}


#open-toc {
    display: none;
}

.container {
    display: flex;
    flex-wrap: wrap;
}

.container > * {
    flex: 1 1 calc(100px + 1em); /* 1em margin als Spaltenabstand berücksichtigt, calc() nicht notwendig */
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(960px * 999 - 100% * 999);
    background: var(---card-bg);
    margin: 1em;
    min-height: 19em;
}

.card-land {
    height: 100%;

}

.card > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}

.card a {
    padding: 14px 20px;
    text-decoration: none;
    color: silver;
}

.content {
    padding: 1em 2em;
}


.card:hover {
    background-color: var(---card-hover-bg);
    color: black;
}


/* Display logic:*/
.content-inner {
    position: relative;
}

.content-icon {
    color: var(---text-color-primary);
    position: relative;
    bottom: 0;
    left: 0;
}

.content-text {
    visibility: hidden;
    position: absolute;
}

.card-land .content-text {
    bottom: 0;
}

.card-land .content-icon {
    height: 10em;
    width: 10em;
}

.card:hover .content-icon {
    visibility: hidden;
}

.card:hover .content-text {
    visibility: visible;
}


/* CSS for paragraph */
p {
    color: var(---text-color-primary);
    font-size: 0.9em;
    line-height: 1.2;
    margin: 0 0 10px;
}

ul {
    font-size: 0.9em;
    line-height: 1.2;
}

/* CSS for h1 */
h1 {
    color: var(---text-color-secondary);
    font-size: 1.8em;
    margin-bottom: 10px;
}

/* CSS for h2 */
h2 {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* CSS for h3 */
h3 {
    color: #888;
    font-size: 1.2em;
    margin-bottom: 10px;
}

h4 {
    /*color: #101010;*/
    color: var(---text-color-primary);
    font-size: 1em;
    margin-bottom: 5px;
}

/*Color blocks for visualizing example palettes:*/
.color-block {
    height: 3em;
    width: 3em;
    margin: 0 0.5em;
}

/*Tooltips and error prompts*/
#tooltip-popup {
    background-color: white;
    border: 2px solid steelblue;
    border-radius: 2px;
    display: none;
    z-index: 9999;
    max-width: 30%;
    margin: 1em;
    padding: 0.5em 0.8em 1em;
    /*width: 10em;*/
    /*height: 3em;*/
}

#tooltip-popup > h4 {
    margin: 0.5em 0;
}

/* Tooltip container */
.tooltip {
    position: relative;
    overflow: visible;
    opacity: 1;
    display: inline-block; /* vorher: inline */
    border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip .tooltiptext.tooltip-checklist {
    width: 15em;
    text-align: left;
    padding: 0.5em;
}

.tooltip .tooltiptext.tooltip-overview {
    width: 15em;
    text-align: left;
    padding: 0.6em;
    /*Option 1*/
    /*background-color: #fff; */
    /*color: black;*/
    /*border: 1px solid #0077be;*/
    /*Option 2*/
    background-color: steelblue;
    color: white;
    border: 1px solid #0077be;
    font-weight: normal;
    opacity: 1;
    border-radius: 2px;
}

.tooltip .tooltiptext.tooltip-overview > p {
    color: white;
}

.tooltip .tooltiptext.tooltip-overview::after {
    border-color: #0077be transparent transparent transparent;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 8.5em; /* von 10em auf 8.5em */
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 2px;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 9997;
    bottom: 125%;
    left: 50%;
    margin-left: -70px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    overflow: visible;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

#tooltip-popup {
    position: absolute;
    display: none;
}

.tooltip-popup > ul {
    padding-left: 1.8rem;
}

.error-prompt {
    z-index: 9998;
    display: none;
}

.selected-blur {
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, 0.5);
    z-index: 9997;
}

.instruction-par {
    color: var(---text-color-secondary);
}

.note-par {
    /*font-size: 0.8em;*/
    /*font-size: 0.9em;*/
    margin-bottom: 5px;
    color: var(---text-color-secondary);
}

.fillout-info {
    background-color: var(---bg-general);
    border-radius: 5px;
    padding: 0.4em;
    margin-bottom: 0.5em;
}

.in-text-icon {
    font-size: 1.5em;
}

.in-text-icon.warning {
    color: goldenrod;
    /*color: #8CA000;*/
    /*rotate: -90deg;*/
}

.in-text-icon.error {
    color: #B85042;
}

.in-text-icon.good {
    color: #1abc9c;
}

.annote-text-icon {
    font-size: 0.2em;
}


/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    #entry-list {
        margin: 1em;
        width: 85%;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 480px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}


@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
        font-size: 0.9em;
    }

    .navbar .nav-container {
        padding: 4px 10px;
    }

    .tile-row {
        width: 95%;
    }

    .content-container {
        width: 100%;
    }

    .text-input {
        flex: 100%;
        /*100%;*/
    }

    #tooltip-popup {
        max-width: 70%;
    }

    .wiki-entry {
        width: 100%;
    }

}

/*@media screen and (min-width: 480px) {*/
/*    width: 20%;*/
/*}*/

/*320px to 480px mobile devices*/


@media screen and (max-width: 350px) {

    #tooltip-popup {
        max-width: 90%;
    }

}