/* Definition of different themes */

/*Charite*/
/*        <div class="color-block" style="background-color: #004d9b"></div>*/
/*        <div class="color-block" style="background-color: #0077be"></div>*/
/*        <div class="color-block" style="background-color: #cbcfd2"></div>*/
/*        <div class="color-block" style="background-color: #5e676c"></div>*/
/*        <div class="color-block" style="background-color: #002451"></div>*/
/*        <div class="color-block" style="background-color: #e5e7e9"></div>*/
/*        <div class="color-block" style="background-color: #e95956"></div>*/
/*        <div class="color-block" style="background-color: #78ad6c"></div>*/
/*        <div class="color-block" style="background-color: #d31d19"></div>*/
.current-theme {
    ---body-background: #f1f1f1f;
    ---header-background: #f1f1f1f;
    ---header-line: #0077be;
    ---textcol-header: white;
    ---navbar-bg: #f1f1f1f;
    ---navbar-text: #444;
    ---navbar-hover-bg: #ddd;
    ---navbar-hover-text: #f1f1f1f;
    ---footer-bg: #ddd;
    ---footer-text: #f1f1f1f;
    ---footer-hover-bg: #5e676c;
    ---footer-hover-text: lightgrey;
    ---dropdown-content-bg: #f1f1f1;
    ---dropdown-content-text: black;
    ---dropdown-content-hover-text: #ddd;
    ---column-bg-primary: #f1f1f1f;
    ---column-bg-secondary: #f1f1f1f;
    ---colum-bg-tertiary: #f1f1f1f;
    ---checklist-question-bg: #f1f1f1f;
    ---checklist-shadow: #5e676c;
    /*---button-primary: #004d9b;*/
    ---button-primary: #90AFC5;
    ---button-secondary: lightgrey;
    ---wiki-bg: #f1f1f1f;
    ---wiki-example-bg: lightgrey;
    ---wiki-overview-bg: #90AFC5;
    ---wiki-border: #444;
    ---card-bg: #cbcfd2;
    ---card-hover-bg: #e5e7e9;
    ---text-color-primary: #17171F;
    ---text-color-secondary: #333;
}

/*Previous:*/
/*.current-theme {*/
/*    ---body-background: #f5f5fA;*/
/*    ---header-background: #c97469;*/
/*    ---textcol-header: white;*/
/*    ---navbar-bg: #E7E8D1;*/
/*    ---navbar-text: #444;*/
/*    ---navbar-hover-bg: #ddd;*/
/*    ---navbar-hover-text: black;*/
/*    ---footer-bg: #ddd;*/
/*    ---footer-text: black;*/
/*    ---footer-hover-bg: slategray;*/
/*    ---footer-hover-text: lightgrey;*/
/*    ---dropdown-content-bg: #f1f1f1;*/
/*    ---dropdown-content-text: black;*/
/*    ---dropdown-content-hover-text: #ddd;*/
/*    ---column-bg-primary: white;*/
/*    ---column-bg-secondary: #f1f1f1;*/
/*    ---colum-bg-tertiary: white;*/
/*    ---checklist-question-bg: #EEE;*/
/*    ---checklist-shadow: slategray;*/
/*    ---button-primary: #E7E8D1;*/
/*    ---button-secondary: lightgrey;*/
/*    ---wiki-bg: #E7E8D1;*/
/*    ---wiki-example-bg: lightgrey;*/
/*    ---wiki-overview-bg: #A7BEAE;*/
/*    ---wiki-border: #444;*/
/*    ---card-bg: silver;*/
/*    ---card-hover-bg: #ddd;*/
/*    ---text-color-primary: black;*/
/*    ---text-color-secondary: #333;*/
/*}*/

/*.theme-1 {*/
/*    .current-theme {*/
/*        ---body-background: #f0f0f0;*/
/*        ---header-background: #1abc9c;*/
/*        ---textcol-header: white;*/
/*        ---navbar-bg: slategrey;*/
/*        ---navbar-text: white;*/
/*        ---navbar-hover-bg: #ddd;*/
/*        ---navbar-hover-text: black;*/
/*        ---footer-bg: #ddd;*/
/*        ---footer-text: black;*/
/*        ---footer-hover-bg: slategray;*/
/*        ---footer-hover-text: lightgrey;*/
/*        ---dropdown-content-bg: #f1f1f1;*/
/*        ---dropdown-content-text: black;*/
/*        ---dropdown-content-hover-text: #ddd;*/
/*        ---column-bg-primary: #f1f1f1;*/
/*        ---column-bg-secondary: #f1f1f1;*/
/*        ---colum-bg-tertiary: white;*/
/*        ---checklist-question-bg: silver;*/
/*        ---button-primary: #1abc9c;*/
/*        ---button-secondary: silver;*/
/*        ---wiki-bg: lightblue;*/
/*        ---wiki-border: cornflowerblue;*/
/*        ---card-bg: silver;*/
/*        ---card-hover-bg: #ddd;*/
/*        ---text-color-primary: black;*/
/*        ---text-color-secondary: #333;*/
/*    }*/
/*}*/

/* CSS for body */
body {
    font-family: Arial, sans-serif;
    margin: 0 20px;
    padding: 0;
    background-color: var(---body-background);
}

.footer {
    width: 100%;
}

* {
    box-sizing: border-box;
}


blockquote {
    /*font-size: 18px;*/
    font-size: 0.9em;
    font-style: italic;
    margin: 0.25em 0;
    padding: 0.35em 40px;
    line-height: 1.45;
    position: relative;
    color: #383838;
}

blockquote:before {
    display: block;
    padding-left: 10px;
    content: "\201C";
    font-size: 60px;
    position: absolute;
    left: -20px;
    top: -20px;
    color: #7a7a7a;
}

blockquote cite {
    color: #999999;
    font-size: 14px;
    display: block;
    margin-top: 5px;
}

blockquote cite:before {
    content: "\2014 \2009";
}


.header-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    align-content: stretch;
    width: 100%;
    border-bottom: 2px solid var(---header-line);
}

/* Header/logo Title */
.header {
    padding: 10px;
    text-align: left;
    flex-grow: 2;
    display: flex;
    align-items: center;
    background: var(---header-background);
    color: var(---textcol-header);

}

.header > h2 {
    display: inline-block;
}

.subhead {
    /*background-image: url("../images/221215_Charite_Bildmarke_CMYK.jpg");*/
    /*background-repeat: no-repeat;*/
    /* background-position: center; !* Center the image *!*/
    /*background-size: 30%; !* Resize the background image to cover the entire container *!*/
}

.subhead > h3 {
    display: inline-block;
    padding-left: 2em;
}


/*------------------NAVIGATION------------------------*/

/* Style the top navigation bar */
.navbar {
    display: flex;
    background-color: var(---navbar-bg);
    justify-content: space-around;
    align-items: center;
    flex-grow: 3;
    font-size: 1.2em;
    /*height: 100%;*/
}

/* Style the navigation bar links */
.navbar .nav-container {
    padding: 14px 20px;
    text-align: center;
    margin: 0;
    /*min-height: 2.5em;*/
    display: flex;
    align-items: start;
    flex-wrap: nowrap;
    flex-direction: row;
    width: 100%;
}

.nav-container > a {
    color: var(---navbar-text);
    text-decoration: none;
    width: 100%;
    /*display: flex;*/
    text-align: center;
    padding: 0.7em 0.7em 0.6em;
}

/* Change color on hover */
.navbar .nav-container:hover {
    background-color: var(---navbar-hover-bg);
    color: var(---navbar-hover-text);
}

/* Footer */
.navbar-foot {
    display: flex;
    text-align: center;
    background: var(---footer-bg);
}

/* Style the navigation bar links */
.navbar-foot a {
    color: var(---footer-text);
    padding: 10px 20px;
    text-decoration: none;
    text-align: center;
}

/* Change color on hover */
.navbar-foot a:hover {
    background-color: var(---footer-hover-bg);
    color: var(---footer-hover-text);
}

.dropdown {
    position: relative;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(---dropdown-content-bg);
    min-width: 160px;
    left: 30%;
    top: 80%;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 9999;
}

.dropdown-content a {
    color: var(---dropdown-content-text);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: var(---dropdown-content-hover-text);
}

.dropdown:hover .dropdown-content {
    display: block;
}

.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}


/*------------------CONTAINERS------------------------*/

/* Column container */
.row {
    display: flex;
    flex-wrap: wrap;
}

.full-column {
    flex: 100%;
    background-color: var(---column-bg-primary);
    padding: 20px;
}

/* Create two unequal columns that sits next to each other */
/* Sidebar/left column */
.input-col {
    background-color: var(---column-bg-secondary);
    padding: 5px 20px;
}

.output-col {
    background-color: var(---colum-bg-tertiary) te;
    padding: 5px 20px;
    /*margin: 1em;*/
    height: 100%;
    /*overflow: visible;*/
}

.number-input {
    flex: 30%;

}


/* Main column */
.number-output {
    flex: 60%;
}

.figure-output {
    flex: 40%;
}

.wiki-overview {
    flex: 35%;
    background-color: var(---wiki-overview-bg);
    border: 0.1em solid var(---wiki-border);
    border-radius: 5px;
}

.wiki-text {
    flex: 65%;
}

.wiki-entry {
    /*margin: 1em auto;*/ /* centering.*/
    margin: 1em 0;
    width: 80%;
    border-radius: 5px;
    border: 1px solid var(---wiki-border);
    background-color: var(---wiki-bg);
}

.wiki-intro {
    width: 80%;
}

.wiki-examples {
    /*border: 1px solid var(---wiki-border);*/
    margin: 1em 0;
    padding: 1em;
    background-color: var(---wiki-example-bg);
}

.text-input {
    display: flex;
    flex-direction: column;
    flex: 35%;
    /*height: 20em;*/
}

.text-notes {
    flex: 45%;
    /*height: 20em;*/
    /*overflow-y: scroll;*/
}

.text-notes ul {
    padding-left: 1.2em;
    list-style-type: none;
}

.text-notes ul li {
    padding-top: 0.5em;
}

.text-notes ul ul {
    padding-left: 1.5em;
    list-style-type: circle;
}

.text-output {
    /*flex: 55%;*/
    padding: 0.5em 2em;
    min-height: 20em;
    max-height: 50em;
    overflow-y: scroll;
    line-height: 1.6;
}

.text-input > textarea {
    /*flex: 1;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 0.8em;
    min-height: 15em;
    /*Removed due to display issues*/
}


/*Styling input elements */
.input-button {
    padding: 7px;
    margin: 5px 0;
    font-size: 1em;
    text-align: center;
    background-color: var(---button-primary);
    color: #f1f1f1f;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    float: right;
}

.longtext {
    border-radius: 10px;
    padding: 0.5em;
}

#open-toc {
    display: none;
}


.container {
    display: flex;
    flex-wrap: wrap;
}

.container > * {
    flex: 1 1 calc(100px + 1em); /* 1em margin als Spaltenabstand berücksichtigt, calc() nicht notwendig */
}

.card {
    display: flex;
    flex-wrap: wrap;
    flex-basis: calc(960px * 999 - 100% * 999);
    background: var(---card-bg);
    margin: 1em;
    min-height: 19em;
}

.card-land {
    height: 100%;

}

.card > * {
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 100px;
}

.card a {
    padding: 14px 20px;
    text-decoration: none;
    color: silver;
}

.content {
    padding: 1em 2em;
}


/*.content > * {*/
/*    background: silver;*/
/*    color: black;*/
/*}*/

.card:hover {
    background-color: var(---card-hover-bg);
    color: black;
}

.media {
    background: black;
    min-height: 120px;
}

/* Display logic:*/
.content-inner {
    position: relative;
}

.content-icon {
    color: var(---text-color-primary);
    position: relative;
    bottom: 0;
    left: 0;
}

.content-text {
    visibility: hidden;
    position: absolute;
}

.card-land .content-text {
    bottom: 0;
}

.card-land .content-icon {
    height: 10em;
    width: 10em;
}

.card:hover .content-icon {
    visibility: hidden;
}

.card:hover .content-text {
    visibility: visible;
}


/* CSS for paragraph */
p {
    color: var(---text-color-secondary);
    font-size: 0.9em;
    line-height: 1.2;
    margin: 0 0 10px;
}

ul {
    font-size: 0.9em;
    line-height: 1.2;
}

/* CSS for h1 */
h1 {
    color: #444;
    font-size: 2em;
    margin-bottom: 10px;
}

/* CSS for h2 */
h2 {
    color: #666;
    font-size: 1.5em;
    margin-bottom: 10px;
}

/* CSS for h3 */
h3 {
    color: #888;
    font-size: 1.2em;
    margin-bottom: 10px;
}

/*Color blocks for visualizing example palettes:*/
.color-block {
    height: 3em;
    width: 3em;

    margin: 0 0.5em;
}

#tooltip-popup {
    background-color: white;
    border: 2px solid steelblue;
    border-radius: 2px;
    display: none;
    z-index: 9999;
    max-width: 30%;
    margin: 1em;
    padding: 0.5em 0.8em 1em;
    /*width: 10em;*/
    /*height: 3em;*/
}

#tooltip-popup > h4 {
    margin: 0.5em 0;
}

.error-prompt {
    z-index: 9998;
    display: none;
}

.selected-blur {
    box-shadow: 0 0 0 999999px rgba(0, 0, 0, 0.5);
    z-index: 9997;
}

#notes-dummy td {
    padding: 0.5em;
    border: 1px solid black;
}

.instruction-par {
    color: #666;
    font-size: 0.8em;
}

.note-par {
    font-size: 0.8em;
    margin-bottom: 5px;
}

.fillout-info {
    background-color: var(---column-bg-secondary);
    border-radius: 5px;
    padding: 1em;
    margin-bottom: 0.5em;
}

.grid-container-check {
    display: grid;
    grid-template-columns: minmax(220px, 2.5fr) minmax(100px, 1.5fr) 20px minmax(100px, 1.5fr) minmax(220px, 2.5fr);
    grid-template-rows: 1em 1.5em 60px auto 50px;
    grid-template-areas:
            "header header header header header"
            "subhead1 . . . subhead2"
            "arr1 arrnote1 . arrnote2 arr2"
            "arr1 midnote midnote midnote arr2";
    margin-top: 0.8em;
    /*justify-items: center;*/
}

#results-q {
    padding-top: 0;
}

.check-results-navrow {
    font-size: 0.7em;
    display: flex;
    align-items: end;
    width: 100%;
    /*background-color: lightsteelblue;*/
    border-bottom: 1px solid darkgrey;
    z-index: 9998;
    margin-bottom: 1em;
}

.check-results-navrow div {
    cursor: pointer;
    padding: 0.8em 0.9em 0.5em;
    justify-self: end;
    z-index: 9998;
}

#stop-edit {
    display: none;
}

.check-results-navrow div:hover {
    background-color: var(---navbar-hover-bg);
    color: var(---navbar-hover-text);
}

.grid-head {
    /*grid-row: 1;*/
    /*grid-column: 2 / 4;*/
    grid-area: header;
    justify-self: center;
}

.grid-subhead1 {
    /*grid-row: 2;*/
    grid-area: subhead1;
    justify-self: center;
}

.grid-subhead2 {
    /*grid-row: 2;*/
    grid-area: subhead2;
    justify-self: center;
}

.grid-arr1 {
    grid-area: arr1;
    /*grid-row: 3 / 4;*/
}

.grid-arr2 {
    grid-area: arr2;
    /*grid-row: 3 / 4;*/
}

.grid-note1 {
    grid-area: arrnote1;
    justify-self: start;
    text-align: left;
    align-self: center;
    padding: 0 0.2em;
}

.grid-note2 {
    grid-area: arrnote2;
    justify-self: end;
    text-align: right;
    align-self: center;
    padding: 0 0.2em;
}

.grid-global-note {
    /*grid-row: 4;*/
    grid-area: midnote;
    justify-self: center;
    padding: 1em 0.2em;
}

.content-start {
    justify-self: start;
}

.content-end {
    justify-self: end;
}

/* WIKI STYLES */
/* The side navigation menu */
.sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    /*position: fixed;*/
    height: 100%;
    overflow: auto;
}

/* Sidebar links */
.sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
}

/* Active/current link */
.sidebar a.active {
    background-color: #04AA6D;
    color: white;
}

/* Links on mouse-over */
.sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
}

.wiki-row {
    max-height: 800px;
    min-height: 500px;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

#entry-list {
    /*margin-left: 25%;*/
    width: 75%;
    /*overflow: hidden;*/
    overflow: hidden;
    overflow-y: scroll;
    flex-grow: 4;
}

/* Page content. The value of the margin-left property should match the value of the sidebar's width property */
div.wiki-toc {
    margin: 1em;
    height: 480px;
    flex-basis: 20%;
    /*width: 20%;*/
    padding: 10px 16px;
    /*position: fixed;*/
    z-index: 0;
    /*position: relative;*/
    /*top: 0;*/
    /*left: 0;*/
    border-radius: 5px;
    border: 1px solid var(---wiki-border);
    /*background-color: var(---wiki-bg);*/
    /*height: 1000px;*/
    overflow-y: scroll;
    /*top: 0;*/
    /*bottom: 0;*/
}

.wiki-toc a {
    padding: 5px 3px;
    display: block;
    overflow: hidden;
}

/* On screens that are less than 700px wide, make the sidebar into a topbar */
@media screen and (max-width: 700px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .sidebar a {
        float: left;
    }

    div.content {
        margin-left: 0;
    }

    #entry-list {
        margin: 1em;
        width: 85%;
    }
}

/* On screens that are less than 400px, display the bar vertically, instead of horizontally */
@media screen and (max-width: 480px) {
    .sidebar a {
        text-align: center;
        float: none;
    }
}

/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 1025px) {
    .wiki-entry {
        width: 90%;
    }
}

@media screen and (max-width: 700px) {
    .row, .navbar {
        flex-direction: column;
        font-size: 0.9em;
    }

    .navbar .nav-container {
        padding: 4px 10px;
    }

    .tile-row {
        width: 95%;
    }

    .content-container {
        width: 100%;
    }

    .text-input {
        flex: 100%;
        /*100%;*/
    }

    #tooltip-popup {
        max-width: 90%;
    }

    .wiki-entry {
        width: 100%;
    }

}

/*@media screen and (min-width: 480px) {*/
/*    width: 20%;*/
/*}*/

/*320px to 480px mobile devices*/
@media screen and (max-width: 480px) {
    /*.wiki-toc {*/
    /*    display: none;*/
    /*    position: absolute;*/
    /*    background: #0077be;*/
    /*}*/

    #entry-list {
        margin: 0;
        width: 100%;
    }

    body {
        margin: 0;
    }

    #open-toc {
        display: block;
        position: absolute;
        margin: 20px 5px;
        padding: 5px;
        right: 10%;
        /*top: 5%;*/
        z-index: 2;
        background-color: lightgrey;
        cursor: pointer;
    }

    div.wiki-toc {
        position: absolute;
        opacity: 1;
        /*background-color: var(---wiki-bg);*/
        /*background-color: #f1f1f1;*/
        background: #f1f1f1;
        z-index: 1;
        width: 90%;
    }

    /*#open-toc:hover + .wiki-toc {*/
    /*    display: block;*/
    /*}*/
}

@media screen and (max-width: 700px) {

    #tooltip-popup {
        max-width: 70%;
    }

}

@media screen and (max-width: 350px) {

    #tooltip-popup {
        max-width: 90%;
    }

}